<p id="notice"><%= notice %></p>

<h1>Entity Sources</h1>

<table>
  <thead>
    <tr>
      <th>Entity</th>
      <th>Source</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @entity_sources.each do |entity_source| %>
      <tr>
        <td><%= entity_source.entity_id %></td>
        <td><%= entity_source.source_id %></td>
        <td><%= link_to 'Show', entity_source %></td>
        <td><%= link_to 'Edit', edit_entity_source_path(entity_source) %></td>
        <td><%= link_to 'Destroy', entity_source, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Entity Source', new_entity_source_path %>
