<p id="notice"><%= notice %></p>

<h1>Entity Sentences</h1>

<table>
  <thead>
    <tr>
      <th>Entity</th>
      <th>Source</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @entity_sentences.each do |entity_sentence| %>
      <tr>
        <td><%= entity_sentence.entity_id %></td>
        <td><%= entity_sentence.source_id %></td>
        <td><%= link_to 'Show', entity_sentence %></td>
        <td><%= link_to 'Edit', edit_entity_sentence_path(entity_sentence) %></td>
        <td><%= link_to 'Destroy', entity_sentence, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Entity Sentence', new_entity_sentence_path %>
